body {
  margin: 0px;
  padding: 0px;
}

#wiki-body
{
    float: right !important;
    clear: none !important;
}

#wiki-rightbar
{
    float: left !important;
    padding: 7px 0px !important;
}

#wiki-rightbar.fixed
{
    position: fixed !important;
    top: 10px !important;
}

#wiki-rightbar a
{
	display: block;
    font-size: 18px;
    padding: 0px 7px;
}

#wiki-rightbar a.current
{
    background: #444444;
    color: #ffffff;
}

#wiki-rightbar ul
{
	background: #ffffff;
	margin: 0px;
	padding: 0px 0px 0px 10px;
}

#wiki-rightbar li
{
	font-size: 14px !important;
    margin: 2px 0px 2px 0px;
    list-style-type: none;
}

#wiki-rightbar li.current
{
	background: #777777;
}