body {
  margin: 0px;
  padding: 0px;
}

#wiki-body
{
    float: right !important;
    clear: none !important;
}

#wiki-rightbar
{
    float: left !important;
}

#wiki-rightbar .fixed
{
    position: fixed !important;
    top: 10px !important;
}