#wiki-wrapper {
  margin: 0 auto;
  overflow: visible;
  width: 100%;
}

#wiki-body
{
    float: right !important;
    margin-right: 0px !important;
}

#wiki-body .gollum-markdown-content
{
    margin-right: 0px !important;
}

#wiki-rightbar
{
    float: left !important;
    position: absolute !important;
    padding: 7px 0px 7px 0px !important;
}